@import "library/fonts.scss";
@import "library/variables.scss";
@import "library/mixins.scss";

body {
    background: $white;
    font-family: 'avenir', sans-serif;
    font-weight: 400;
    margin: 0;
    color: $darker;
    font-size: 12px;
    line-height: 1.4em;

    @include responsive(lg) {
        font-size: 16px;
    }
}

%button {
    font-size: 10px;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    border: solid 1px transparent;
    text-align: center;

    @include responsive(lg) {
        font-size: 16px;
        padding: 16px;
    }
}


.button__list {
    display: inline-flex;
    gap: 10px;

    @include responsive(lg) {
        gap: 16px;
    }
}

.button__primary {
    @extend %button;
    background-color: $primary;
    color: $white;
}

.button__secondary {
    @extend %button;
    border-color: $darker;
    color: $darker;
}

.button__green {
    @extend %button;
    background-color: $green;
    color: $white;
    padding: 8px 16px;

    @include responsive(lg) {
        padding: 16px 32px;
    }
}

.text-link {
    font-weight: 800;
    color: $darker;
}

.container {
    max-width: $container-width;
    margin: auto;
    padding: {
        left: 32px;
        right: 32px;
    };
}



.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $white;

    .navbar__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 32px;
        justify-content: space-between;
        padding: {
            top: 16px;
            bottom: 16px;
        };
        border-bottom: solid 1px $light-gray;

        .navbar__logo {
            flex: 1;
        }

        .navbar__menu {
            display: none;
            flex-direction: column;
            flex: 1 0 100%;
            gap: 0;
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
            
            .navbar__link {
                display: inline-block;
                padding: 8px 16px;
                text-decoration: none;
                color: inherit;
            }

            @include responsive(lg) {
                display: flex;
                flex-direction: row;
                gap: 32px;
                flex: 0 0 auto;
            }

            &--visible {              
                display: flex;
            }
        }

        .navbar__burger {
            $burger-largeur: 24px;
            $burger-hauteur: 19px;
            $burger-epaisseur: 1px;
            $burger-espacement: calc(($burger-hauteur - 3 * $burger-epaisseur) / 2);

            display: block;
            cursor: pointer;

            @include responsive(lg) {
                display: none;
            }
            
            .navbar__icon {
                display: inline-block;
                vertical-align: middle;
                width: $burger-largeur;
                height: $burger-hauteur;
                position: relative;
                transition: .5s ease-in-out;

                .navbar__icon-line {
                    display: block;
                    position: absolute;
                    height: $burger-epaisseur;
                    width: 100%;
                    background-color: $darker;
                    border-radius: calc($burger-epaisseur / 2);
                    opacity: 1;
                    transition: .2s ease-in-out;
        
                    &:nth-child(1),
                    &:nth-child(4) {
                        width: 100%;
                        left: 0;
                    }
                    &:nth-child(1) {
                        top: 0;
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                        transform: rotate(0);
                        top: calc($burger-epaisseur + $burger-espacement);
                    }
                    &:nth-child(4) {
                        top: calc(($burger-epaisseur + $burger-espacement) * 2 );
                    }
                }                
            }

            &--open {
                .navbar__icon {
                    .navbar__icon-line {
                        &:nth-child(1),
                        &:nth-child(4) {
                            top: calc($burger-epaisseur + $burger-espacement);
                            width: 0;
                            left: 50%;
                        }
                        &:nth-child(2),
                        &:nth-child(3) {
                            top: calc($burger-epaisseur + $burger-espacement);
                        }
                        &:nth-child(2) {
                            transform: rotate(-45deg);
                        }
                        &:nth-child(3) {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }

        .navbar__button {
            @extend %button;
            padding: 8px 16px;
            background-color: $green;
            color: $white;
            order: 0;

            @include responsive(lg) {
                order: 1;
            }
        }
    }
}

.quote {
    background-color: $brown;
    padding: 16px;
    border-radius: 3px;

    @include responsive(lg) {
        padding: 32px;
        border-radius: 5px;
    }

    .quote__icone {
        width: 12px;
        margin-bottom: 6px;

        @include responsive(lg) {
            width: 19px;
        }
    }

    .quote__text {
        margin: 0;
        color: $white;
        font-size: 10px;
        font-weight: 800;

        @include responsive(lg) {
            font-size: 14px;
        }
    }
}


.section {
    .section__title {
        color: $darker;
        font-size: 18px;
        font-weight: 800;
        line-height: 1em;

        @include responsive(lg) {
            font-size: 24px;
        }

        .section__subtitle {
            display: block;
            color: $primary;
            font-size: 14px;
            margin-bottom: 14px;

            @include responsive(lg) {
                font-size: 18px;
            }
        }
    
        &--large {
            font-size: 22px;
            line-height: 1.1em;

            @include responsive(lg) {
                font-size: 36px;
            }
    
            .section__subtitle {
                font-size: 14px;
                margin-bottom: 16px;

                @include responsive(lg) {
                    font-size: 24px;
                }
            }
        }
    }
    
    .section__catchphrase {
        font-size: 18px;
        font-weight: 800;
        margin: 0;
    }
}

.section-about {
    .section__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
        padding: {
            top: 80px;
            bottom: 30px;
        };

        .section__content {
            flex: 1;
            border-bottom: solid 1px $light-gray;

            .section__catchphrase {
                margin-bottom: 16px;
            }

            .section__text {
                margin: 16px 0 48px;
            }

            .button__list {
                margin-bottom: 48px;
            }

            .section__help {
                display: flex;
                align-items: center;
                gap: 12px;
                margin-bottom: 48px;
            }
        
            .section__help-icone {
                width: 36px;
            }
        }
        
        .section__illustration {
            flex: 1;
            background-image: url('../images/photos/illustration-cook.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            aspect-ratio: 1 / 1;

            .section__image {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%) scale(80%);
            }

            .quote {
                position: absolute;
                bottom: 48px;
                left: -48px;
                max-width: 250px;
            }
        }
    }
}

.section-our-essentials {
    padding: {
        top: 30px;
        bottom: 90px;
    };

    .section__container {
        position: relative;

        .section__title {
            margin-bottom: 32px;
        }

        .dishes-card-grid {
            display: flex;
            flex-wrap: nowrap;
            gap: 16px;
            overflow: auto;
            padding: {
                left: calc((100% - #{$container-width}) / 2);
                right: calc((100% - #{$container-width}) / 2);
            };
            cursor: grab;
            @include hideScrollbar;
            @include userSelect(none);

            @include responsive(lg) {
                gap: 36px;
            }
        
            .dishes-card {
                background-color: $light-gray;
                border-radius: 7px;
                padding: 16px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                flex: 1 0 138px;

                @include responsive(lg) {
                    border-radius: 10px;
                    padding: 32px;
                    flex: 1 0 273px;
                }
        
                .dishes-card__image {
                    object-fit: cover;
                    object-position: center;
                    aspect-ratio: 6 / 5;
                    border-radius: 3px;
                    pointer-events: none;
                    width: 100%;

                    @include responsive(lg) {
                        aspect-ratio: 3 / 2;
                        border-radius: 5px;
                    }
                }
        
                .dishes-card__title {
                    font-weight: 800;
                    font-size: 16px;
                    margin: 0;

                    @include responsive(lg) {
                        font-size: 24px;
                    }
                }
        
                .dishes-card__text {
                    margin: 0;
                }
        
                .dishes-card__icone-list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;

                    .dishes-card__icone {
                        width: 17px;

                        @include responsive(lg) {
                            width: 24px;
                        }
                    }
                }
            }
        }
    
        .section__illustration {
            display: none;
            position: absolute;
            bottom: -192px;

            @include responsive(lg) {
                display: block;
            }
        }
    }
}

.section-testimony {
    margin: {
        top: 42px;
        bottom: 135px;
    };

    @include responsive(lg) {
        background-color: $light-gray;
    }
    
    .section__container {
        display: flex;
        flex-direction: column;

        @include responsive(lg) {
            flex-direction: row;
            max-width: $container-width;
            margin: auto;
            padding: {
                left: 32px;
                right: 32px;
            };
        }

        .section__content {
            flex: 1;
            background-color: $light-gray;
            max-width: $container-width;
            margin: auto;
            padding: {
                top: 60px;
                bottom: 70px;
                left: 32px;
                right: 32px;
            };

            @include responsive(lg) {
                width: 1%;
                background: none;
                max-width: none;
                padding: {
                    left: 0;
                    right: 0;
                };
            }

            .section__title {
                margin-bottom: 40px;
                margin: {
                    bottom: 40px;
                    right: 32px;
                };
            }

            .testimonial-card-grid {
                $gap-grid: 16px;

                display: flex;
                flex-wrap: nowrap;
                gap: $gap-grid;
                overflow: auto;
                padding: 36px 32px 36px 36px;
                margin: -36px 0 -36px -36px;
                cursor: grab;
                @include hideScrollbar;
                @include userSelect(none);

                @include responsive(lg) {
                    $gap-grid: 20px;
                    gap: $gap-grid;
                }
            
                .testimonial-card {
                    $width: 222px;

                    display: flex;
                    flex-direction: column;
                    gap: 22px;
                    flex: 1 0 $width;
                    position: relative;
                    background-color: rgba($white, 0.3);
                    padding: 22px;
                    border-radius: 7px;
                    box-shadow: 0 4px 36px 0 rgba($black, 0.1);

                    @include responsive(lg) {
                        $width: 550px;
                        $scale: 0.75;

                        flex-direction: row;
                        align-items: center;
                        gap: 32px;
                        flex: 1 0 $width;
                        padding: 32px;
                        border-radius: 10px;
                        transform: scale($scale);

                        &:not(:first-child) {
                            margin-left: calc($width * $scale - $width - ($gap-grid / 2));
                        }

                        &--highlight {
                            z-index: 1;
                            background-color: $white;
                            transform: scale(100%);
                        }
                    }
            
                    .testimonial-card__image {
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                        aspect-ratio: 7 / 5;
                        border-radius: 3px;
                        pointer-events: none;

                        @include responsive(lg) {
                            width: 182px;
                            aspect-ratio: 1 / 1;
                            border-radius: 5px;
                        }
                    }

                    .testimonial-card__content {
                        display: flex;
                        flex-direction: column;
                        gap: 6px;

                        @include responsive(lg) {
                            gap: 8px;
                        }
            
                        .testimonial-card__title {
                            font-weight: 800;
                            font-size: 16px;
                            margin: 0;

                            @include responsive(lg) {
                                font-size: 24px;
                            }
                        }
                
                        .testimonial-card__details {
                            font-weight: 800;
                            font-size: 8px;
                            text-transform: uppercase;
                            margin: 0;

                            @include responsive(lg) {
                                font-size: 12px;
                            }
                        }
                
                        .testimonial-card__infos {
                            font-size: 7px;
                            margin: 0;

                            @include responsive(lg) {
                                font-size: 10px;
                            }
                        }
                
                        .testimonial-card__text {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .section__fidelity {
            max-width: $container-width;
            margin: auto;
            padding: {
                left: 32px;
                right: 32px;
            };
    
            @include responsive(lg) {            
                max-width: none;
                padding: {
                    left: 0;
                    right: 0;
                };
            }

            .section__fidelity-card {
                display: flex;
                background-image: url('../images/photos/dishes/dish-4.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                backdrop-filter: blur(5px);
                border-radius: 10px;
                overflow: hidden;
                color: $white;
                max-width: 400px;
                margin: 32px auto 0;
    
                @include responsive(lg) {
                    width: 424px;
                    margin: {
                        top: -42px;
                        bottom: -42px;
                    };
                }
    
                .section__filter {
                    background-color: rgba($brown, 0.5);
                    backdrop-filter: blur(3px);
                    padding: 32px;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    width: 100%;
    
                    @include responsive(lg) {
                        padding: 54px 32px;
                        align-items: flex-start;
                    }
    
                    .section__catchphrase {
                        color: $white;
                    }
    
                    .section__title--large {
                        color: $white;
                    }
    
                    .section__image {
                        width: 100%;
                    }
                }
            }
        }
    }
}


.footer {
    border-top: solid 1px $light-gray;

    .footer__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 52px 32px 55px;

        .footer__social-medias {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 32px;
            list-style: none;
            padding: 16px;
            margin: 0;
            background: $light-gray;
            min-width: 380px;
            border-radius: 5px;

            .footer__social-media-item {
                width: 24px;
                height: 24px;
            }
        }

        .footer__links {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 8px 16px;
            list-style: none;
            padding: 0;
            margin: 0;

            .footer__link {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}