@font-face {
    font-family: 'avenir';
    src:
    url('../fonts/avenir/avenir_light-webfont.woff2') format('woff2'),
    url('../fonts/avenir/avenir_light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'avenir';
    src:
    url('../fonts/avenir/avenir_book-webfont.woff2') format('woff2'),
    url('../fonts/avenir/avenir_book-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'avenir';
    src:
    url('../fonts/avenir/avenir_regular-webfont.woff2') format('woff2'),
    url('../fonts/avenir/avenir_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'avenir';
    src:
    url('../fonts/avenir/avenir_heavy-webfont.woff2') format('woff2'),
    url('../fonts/avenir/avenir_heavy-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'avenir';
    src:
    url('../fonts/avenir/avenir_black-webfont.woff2') format('woff2'),
    url('../fonts/avenir/avenir_black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}